<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.StudentMapper">
    <resultMap id="resultMap" type="org.Student">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="description" property="description"/>
    </resultMap>
    <sql id="column_sql">
        id,username,description
    </sql>
    <select id="listAll" resultMap="resultMap">
        SELECT
        <include refid="column_sql"/>
        FROM Student
    </select>
    <insert id="insertOne" parameterType="org.Student">
        INSERT INTO Student
        (username,password,description)
        VALUES
        (#{username},#{password},#{description})
    </insert>
</mapper>